.table-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    overflow: auto;
    color: #9d9d9d !important;
}

.table {
    position: relative;
    table-layout: fixed;
}

.row {
    border-bottom: 1px solid #f6f6f6;
}

.hour-header, .day-header, .hour-cell {
    border-right: 1px solid #f6f6f6;
}

.day-title, .hour-header, .day-header {
    padding: 10px 10px;
    user-select: none;

}

.day-title, .day-header {
    text-align: left;
}

.hour-title, .hour-header {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.day-title, .day-header {
    min-width: 150px;
    width: 150px;
    height: 50px;
}

.hour-cell {
    width: 150px;
    height: 50px;
}

.today-title {
    color: #1179d8;
    font-weight: bold;
    border-bottom: 5px solid #1179d8;
}
.today-header {
    color: #1179d8;
    font-weight: bold;
}

.event {
    display: table-cell;
    position: absolute;
    top: 150px;
    left: 200px;
    width: 150px;
    height: 100px;

    background-color: #0088f3;
    border-radius: 3px;
    opacity: 0.5;
}

.event:hover {
    opacity: 0.7;
}
