.button {
    display: flex;
    align-items: center;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

.button:active {
    cursor: pointer;
    background-color: var(--background-button-active);
}

.button-icon, .button-title {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.button-icon {
    width: 35px !important;
    height: 35px !important;
}

.button-icon + .button-title {
    padding-left: 0px !important;

}

.button-title {
    padding-left: 15px;
    padding-right: 15px;
    height: 35px !important;
}

.button-close {
    border-radius: 3px;
    margin-right: 10px;
}
.button-close:hover {
    background-color: var(--border-dark);
}
.button-success {
    color: var(--text-light);
    background-color: var(--background);
    border-radius: 3px;
}
