.table-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    overflow: auto;
    color: #9d9d9d !important;
}

.table {
    position: relative;
    table-layout: fixed;
    display: grid;
    grid-template-columns: 50px repeat(7, 150px);
    grid-template-rows: repeat(24, 50px);
}




/*
.row {
    border-bottom: 1px solid #f6f6f6;
}

.hour-header, .day-header, .hour-cell {
    border-right: 1px solid #f6f6f6;
}

.day-title, .hour-header, .day-header {
    padding: 10px 10px;
    user-select: none;

}

.day-title, .day-header {
    text-align: left;
}

.hour-title, .hour-header {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.day-title, .day-header {
    width: 150px;
    height: 50px;
}

.hour-cell {
    width: 150px;
    height: 50px;
}

.today-title {
    color: #1179d8;
    font-weight: bold;
    border-bottom: 5px solid #1179d8;
}
.today-header {
    color: #1179d8;
    font-weight: bold;
}*/
