.calendar {
    display: grid;
    grid-template:
            'head' 35px
            'body' min-content
            'footer' min-content
            / auto;
}

.calendar-head {
    grid-area: head;
    display: grid;

    grid-template: 'prev title next' 35px / 35px 1fr 35px;
    justify-items: center;
}

.prev {
    grid-area: prev;
}

.calendar-title {
    grid-area: title;
}

.next {
    grid-area: next;
}

.prev, .next {
}

.prev:hover, .calendar-title:hover, .next:hover {
    cursor: pointer;
}

.prev, .next {
    user-select: none;
}

.calendar-body {
    grid-area: body;
    display: grid;
    grid-template: repeat(7, 35px) / repeat(7, 35px);
}

.calendar-body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.calendar-body > *:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}

.current-month, .selected-day {
    color: var(--text-light) !important;
}

.day {
    border-radius: 5px;
    color: var(--calendar-prev-next-month);
}

.today {
    background-color: var(--calendar-current-day) !important;
}

.selected-day {
    background-color: var(--calendar-select-day) !important;
}

.selected-week {
    border-radius: 0;
    background-color: var(--calendar-select-week);
}

.calendar-footer {
    grid-area: footer;
}
