.table-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*width: 100%;*/
    /*height: 100%;*/


    display: grid;

    /*width: 200px;*/
    /*height: 400px;*/
    overflow: auto;

}
.table {
    position: relative;
    /*width: 3000px;*/
    /*height: 3000px;*/
    /*background-color: blueviolet;*/
}

.hour-cell {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 70px;
    /*border: 1px solid black;*/
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

}

.hour-header {
    z-index: 3;
    position: absolute;
    width: 70px;
    height: 70px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: coral;
}
.day-header {
    z-index: 2;
    position: absolute;
    width: 200px;
    height: 70px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: aquamarine;
}
.fixed-header {
    z-index: 4;
    position: absolute;
    width: 70px;
    height: 70px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: darkred;
}
.tbody {}
.table-row {
    max-height: 50px;
}
.table-cell {
    max-width: 150px;
    border: 1px solid black;
}
